!!!
%head
  %title= title
  %script{type: "text/javascript", src: "https://www.google.com/jsapi"}

%body
  %header
    #navigation
      - navigation.each do |href, title|
        %a{href: href}= title

  #content
    =yield

  %footer
    Generated
    = Time.now
