%h1 Unresolved Issues

%h2 Unresolved issues in repository

= stacked_line_chart(repository, [:todos_per_day, :fixmes_per_day], labels: ["TODOs", "FIXMEs"], title: "Unresolved Issues")

%h2 Files with most TODOs

= table(repository, :files_with_most_todos, labels: {filename: "File", revisions: "Revisions", todos: "TODOs"})

%h2 Files with most FIXMEs

= table(repository, :files_with_most_fixmes, labels: {filename: "File", revisions: "Revisions", fixmes: "FIXMEs"})


