.div{id: div_name, style: "width: #{width}px; height: #{height}px;"}
%small.benchmark Rendered in #{(benchmark * 1000).to_i} ms

%script{type: "text/javascript"}
  :plain
    // Load the Visualization API and the piechart package.
    google.charts.load('current', {packages: ['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(#{method_name});
