%table.statistics
  %thead
    %tr
      - labels.each do |key, title|
        %th{class: key}= title

  %tbody
    - data.each do |key, values|
      %tr
        - labels.each do |key, title|
          %td{class: key}
            - case key
              - when :size
                = kb_size values[key]
              - when :filename
                = blob_link values[key]
              - else
                = values[key]
